p {
    margin: 0;
}

#bubbles {
    margin-left: 100px;
    margin-right: 100px;
}

#bubble-list {
    background-color: pink;
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
}

#bubble-list li {
    background-color: rgb(0, 127, 239);
    border-style: none;
    border-width: 1px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    height: 500px;

    transition: .25s;
    cursor: pointer;
}

#bubble-list li:hover {
    transform: translateY(-6px);
}

#bubble-list li .product-img-container {
    display: flex;
    justify-content: center;
}

#bubble-list li .product-img-container img {
    width: 200px;
}

#bubble-list li .product-info-container {
    background-color: white;
    padding: 20px;
    padding-top: 15px;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 12px;

}

#bubble-list li .product-info-container .product-name {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

#bubble-list li .product-info-container .product-description {}

#bubble-list li .product-info-container .price-container {
    margin-top: auto;
}

#bubble-list li .product-info-container .price-container hr {
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
}

#bubble-list li .product-info-container .price-container p {
    text-align: center;
}