#error-container {
    display: grid;
    grid-template-columns: 300px 300px;
    margin: 100px;
}

#error-container #message-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#error-container p {
    font-size: 30px;
}

#error-container img {
    height: 300px;
}